.footer {
    padding: 0px 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #000;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;

    .footerMain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            width: 140px;
            height: 28px;
        }

        .menuList {
            display: flex;
            gap: 32px;
            align-items: center;

            div {
                cursor: url(/src/assets/imgs/others/new-tab.png) 10 10, pointer;

                span {
                    cursor: url(/src/assets/imgs/others/new-tab.png) 10 10, pointer;
                }
            }

            div {
                border-left: 1px solid #4E4E4E;
                padding-left: 32px;
                height: 30px;
                display: flex;
                align-items: center;
            }


            span {
                color: #C8C1C1;
                font-size: 18px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;

                &:hover {
                    opacity: 0.5;
                }
            }

        }

        .linkList {
            a {
                img {
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

    }

    p {
        color: #C8C1C1;
        text-align: center;
        font-size: 12px;
        font-weight: 200;
        display: flex;
        height: 40px;
        flex-direction: column;
        justify-content: center;
    }
}


@media screen and (max-width:1000px) {
    .footer {
        gap:0.62rem;
        padding: 0.2rem 1rem;
    .footerMain {
        flex-direction: column;
        gap:0.62rem;

        .menuList {
            gap: 0px;

            div{
                justify-content: space-between;
                padding: 0.5rem;
                border-left: none;
            }
        }
        .logo {
            width: auto;
            height: 1.7rem;
        }

        p {
            font-size: 0.75rem;

        }
    }
    }
}