.home {
    background: #000;
    padding-top: 80px;

    .scrollVideo {
        position: fixed;
    }

    .board1 {

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto 20%;
            min-height: calc(100vh - 80px);

            img {
                width: 368px;
                height: 70px;
            }

            p {
                color: #FFF;
                text-align: center;
                font-family: 'Orbitron';
                font-size: 88px;
                font-weight: 800;
                text-transform: uppercase;
            }

            span {
                color: #ADADAD;
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                margin-top: 30px;
            }
        }
    }

    .board2 {
        .board2_item {
            width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;

            img {
                width: 65.928px;
                height: 72px;
                flex-shrink: 0;
            }

            h2 {
                color: #F8F8F8;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 51.756px;
                letter-spacing: -1.386px;
                margin-bottom: 24px;
            }

            span {
                color: #C6C6C6;
                font-size: 19.218px;
                font-style: normal;
                font-weight: 400;
                line-height: 38.437px;
                /* 200% */
            }

            .item_info {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 45px;
            }
        }
    }

    .board3 {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        padding: 112px;
        color: #F8F8F8;
        font-family: Orbitron;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 73px;
        letter-spacing: -1.386px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .board4 {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        /* width: 50%; */
        position: relative;



        .mainImg {
            width: 90%;
            height: 85%;
            flex-shrink: 0;
            margin-top: 90px;
            margin: 90px auto;
        }

    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 750px;
        position: absolute;

        .left {
            position: absolute;
            left: -10%;
            top: -40px;
        }

        .right {
            position: absolute;
            right: 0;
            right: -10%;
            bottom: -40px;
        }

        h2 {
            color: #FFF;
            font-family: Sora;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            position: absolute;
        }
    }

    .board5 {
        display: flex;
        justify-content: center;
        min-height: 300vh;
        position: relative;

        .keyList {
            position: absolute;
            width: 100%;
            padding: 0 112px;

            .keysItem {
                position: sticky;
                top: 0;
                display: grid;
                min-height: 100vh;
                grid-template-columns: 1fr 1fr;
                align-items: center;

                .step {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 18px;
                    padding: 20px 30px;
                    min-height: 180px;
                    margin-top: 0;
                    padding: 30px 48px;
                    text-align: left;
                    background: #000;

                    p {
                        color: #F8F8F8;
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 51.756px;
                        letter-spacing: -1.386px;
                        margin-bottom: 24px;
                    }

                    span {
                        color: #C6C6C6;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 38.437px;
                    }
                }

            }
        }
    }

    .board6 {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        position: relative;
        flex-wrap: wrap;

        .info {
            color: #F8F8F8;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -1.386px;
            margin-top: 80px;
            width: 60%;
        }

        .casesMain {
            background: url(./assets/imgs/index/cases_bg.svg);
            background-size: 60%;
            width: 100%;
            height: 100vh;
            background-repeat: no-repeat;
            background-position: center;
        }

    }

    .board7{
        display: flex;
        justify-content: center;
        min-height: 100vh;
        position: relative;
        flex-wrap: wrap;
        .tokenomics{
            display: grid;
            grid-template-columns: 2fr 3fr;
            width: 80%;
            gap: 50px;
        }
    }
}