@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@assets/styles/loader.scss";
@import "@assets/styles/home/home.scss";
@import "@assets/styles/home/token-distribution.scss";
@import "@assets/styles/dapp/side-panel.scss";

$break_pc_huge: 1940px;
$break_pc_large: 1681px;
$break_pc_larges: 1611px;
$break_pc_big: 1440px;
$break_pc_laptop: 1380px;
$break_pc_laptops: 1288px;
$break_ipad_b: 1180px;
$break_ipad_s: 968px;
$break_phone_b: 668px;
$break_phone_s: 450px;
$break_phone_ss: 300px;

@font-face {
  font-family: "Orbitron";
  src: url(./assets/fonts/Orbitron-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Orbitron";
  src: url(./assets/fonts/Orbitron-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Orbitron";
  src: url(./assets/fonts/Orbitron-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Orbitron";
  src: url(./assets/fonts/Orbitron-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Orbitron";
  src: url(./assets/fonts/Orbitron-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Orbitron";
  src: url(./assets/fonts/Orbitron-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Sora";
  src: url(./assets/fonts/Sora-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Sora-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Sora-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(./assets/fonts/NunitoSans-SemiBold.ttf);
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
  color: #404040;
  font-family: "Sora", sans-serif;
  font-size: 16px;
  font-weight: 500;
  overflow-x: hidden;
  width: 100vw;
}
img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.react-responsive-3d-carousel__arrows svg {
  cursor:
    url(./assets/imgs/others/new-tab.png) 10 10,
    pointer !important;
}

a {
  text-decoration: none;
  cursor:
    url(./assets/imgs/others/new-tab.png) 10 10,
    pointer;
  color: #737373;

  span {
    cursor:
      url(./assets/imgs/others/new-tab.png) 10 10,
      pointer !important;
  }

  &.pointer {
    cursor: pointer;

    span {
      cursor: pointer !important;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  background: black;
}

.corner-border-button {
  background:
    linear-gradient(to top, #c1ff72, #c1ff72) left top no-repeat,
    linear-gradient(to right, #c1ff72, #c1ff72) left top no-repeat,
    linear-gradient(to left, #c1ff72, #c1ff72) right top no-repeat,
    linear-gradient(to bottom, #c1ff72, #c1ff72) right top no-repeat,
    linear-gradient(to left, #c1ff72, #c1ff72) left bottom no-repeat,
    linear-gradient(to bottom, #c1ff72, #c1ff72) left bottom no-repeat,
    linear-gradient(to top, #c1ff72, #c1ff72) right bottom no-repeat,
    linear-gradient(to left, #c1ff72, #c1ff72) right bottom no-repeat;
  background-size:
    1px 10px,
    10px 1px,
    1px 10px,
    10px 1px;
  padding: 8px 16px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #c1ff72;
  min-width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;

  &:hover {
    background-color: #273317;
    color: #8acf32;
  }
}

.button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #676767;
  min-width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;

  &:hover {
    border: 0.5px solid #676767;
    background: #191919;
  }

  &.green {
    background: #c1ff72;
    color: #0e0e0e;
    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
  }
}

.flex-gap24 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.react-responsive-3d-carousel__carousel {
  margin-top: 10%;
  margin-bottom: 10%;
}

.react-responsive-3d-carousel__indicators.small {
  display: none;
}

.react-responsive-3d-carousel__status.shadow {
  display: none;
}

.react-responsive-3d-carousel__arrows.shadow svg {
  border: 1.333px solid #c7c7c7;
  border-radius: 50%;
  &:hover {
    border-color: #c1ff72;
  }
}

.react-responsive-3d-carousel__arrows path {
  stroke-width: 1px !important;
}

.react-responsive-3d-carousel__arrows.right {
  right: 12% !important;
}

.react-responsive-3d-carousel__arrows.left {
  left: 12% !important;
}

.react-responsive-3d-carousel__carousel__item {
  background: #080808;
  border-radius: 35px;
}

@media screen and (max-width: 1000px) {
}
